@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    z-index:999999;
    align-items: center;
    height: 100%;
}
.spinner-container>p{
    color: white;
}
.loader{
    display: flex;
    z-index: 999;
    justify-content: center;
    align-content: center;
    overflow: show;
    color: white;
}
